a {
  text-decoration: none !important;
  color: black !important;
}

.contact-section a {
  color: black;
  font-size: 2rem;
  padding: 10px;
}

.contact-section a {
  text-decoration: none;
  color: black;
}

.box {
  height: 300px;
}

.bg-navy {
  background-color: rgb(137, 0, 0);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
  
}